a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: whitesmoke;
}

.myText {
    line-height: 25px;
    font-weight: 400;
}

/* category */
#category {
    top:  60px;
    left: -700px;
    height: 762px;
    /* overflow: auto;*/
}

#content{
    margin-top: 70px;
    right: 0;
}
#mid {
    margin-left: 8px;
}
.left {
    width: 70%;
}
.right {
    width: 27.3%;
    right: 0;
}
.contentMain{
    margin-top: 30px;
    background-color: white;
    min-height: 260px;
    border-top: solid 3px #0d6efd;
    padding: 0px 10px;
    border-radius: 10px;
}
.category-list {
    list-style: none;
}

.category-list li:hover{
    color: #fffbfc;
    background-color: rgba(253,100,122,.05);
}